.header {
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo {
    /* border: 2px solid; */
    height: 2.7rem;
    max-width: 14rem;
    margin-right: 2.5rem;
}

.header-right {
    /* border: 2px solid red; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-location-search-container {
    /* border: 2px solid yellow; */
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    width: 70%;
    background-color: var(--primary-bg);
}

.location-wrapper {
    /* border: 2px solid green; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0 10px;
}

.location-icon-name {
    /* border: 2px solid orange; */
    display: flex;
    color: var(--zomato-gray);
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.location-icon {
    color: var(--zomato-red);
    font-size: 20px;
    margin-right: 8px;
}

.location-search-separator {
    height: 25px;
    width: 1.7px;
    background: var(--gray);
}

.header-searchbar {
    /* border: 2px solid; */
    margin-right: 8px;
    display: flex;
    flex-grow: 2;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    color: var(--zomato-gray);
    margin: 0 12px;
}

.search-input {
    border: none;
    outline: none;
    width: 65%;
    font-size: 14px;
}

.profile-wrapper {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.header-profile-image {
    height: 40px;
    border-radius: 50%;
}

.header-username {
    font-size: 16px;
    font-weight: 800;
}

.profile-options-icon {
    font-size: 20px;
}